:root {
 --font-popins: "Poppins", sans-serif;
 --font-inter:"Inter", sans-serif;
 --primary-700-paste-color: #00C2B0;
 --second-blue-color: #052252;
 --nutral-900-color-title:#111827;
 --neutral-700-color-subtext:#374151;
 --neutral-paste-marque-btn-subtxt-700-color:#00C7B4;
 --font-subtext-1r: 1rem;/*16px*/
 --card-heading-1_5r:1.5rem;/*24px*/
 --page-title-2r:2rem;/*32px*/
 --heading_style1_4r: 4rem;/*56px*/
 --heading-style2_3r: 3rem;/*48px*/
 --card-bg1:#f4f4f5;
 --banner-bg:#E5FFFD;
 --paid-banner-bg:#FAFAFA;
 --faq-bg-to:#E5FFFD;
 --faq-bg-from: #C9F8F4;
 --footer-bg:#009E8F;
 --form-placeholder:#6B7280;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 95rem;
    width: 100%; 
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    margin: 0 auto;
}

.pop{
    font-family: var(--font-popins);
    font-size: 1rem;
}
.inter{
    font-family: var(--font-inter);
    font-size: 1rem;
}



.flex{
    display: flex;

}
.flex-row{
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-col{
    flex-direction: col;
    flex-wrap: wrap;
}
.center{
    justify-content: flex-start;
    align-items: center;
}
.nav{
    justify-content: space-between;
    align-items: center;

}
.flex-1{
    flex: 1;
}

nav div#nav-item{
    justify-content: space-between;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
        
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.flex-nav-link{
    display: flex;
    gap: 0.5rem ;
    list-style: none;
    justify-content: center;
    align-items: center;
    color: var(--nutral-900-color-title);
    font-size: var(--font-subtext-1r);
    
   

}

.nav-pad-item{
    padding: 0.5rem;
}
.nav-item{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.nav-link{
    text-decoration-line: none;
    color: #111827;
     margin-bottom: 1rem;
}
.nav-link:hover{
    color: #156fff;
}
button#contact{
    padding: 0.5rem 1rem;
    border: 0.063rem solid var(--primary-700-paste-color) ;
    border-radius: 0.5rem;
    color: var(--primary-700-paste-color);
    background-color: white;
    cursor: pointer;
}


button#contact:hover{
    background-color: var(--primary-700-paste-color);
    color: white;
}

.marque{ 
    background-color: var(--neutral-paste-marque-btn-subtxt-700-color);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
}
.marque-gap{

        gap: 5.828rem;
        padding-top: 1.5rem;
        padding-bottom: 1.563rem;
}

.flex-marque{
    display: flex;
    width: max-content; 
    animation: infinite marque-translate linear 10s;
}
.hidden{
    display: none !important;
}

.flex-col{
    flex-direction: column; 
}

.flex-banner{
    display: flex;
    width: 100%;
    gap: 3rem;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: var(--heading-style2_3r);
    
}
.banner-content{
    max-width: 45.55rem;
    width:100%;
}


.grid-banner {
  flex: 1;
  min-width: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-top: 5rem;
}

.grid-cols{
  display: grid;
  gap: 1rem;
}

.grid-cols img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  
}
.bg-banner{
    background-color: var(--banner-bg);
}

.banner-h1{
    font-family: var(--font-inter);
    font-size:  var(--heading_style1_4r);
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    

}
.banner-h1-span{
    color: var(--primary-700-paste-color);
}

.banner-content-subtext{
    font: var(--font-popins);
    color: var(--neutral-700-color-subtext);
    font-size: var(--font-subtext-1r);
    margin-bottom: var(--card-heading-1_5r);

}
.banner-btn{
    padding: 0.75rem 1.5rem;
    background-color: var(--neutral-paste-marque-btn-subtxt-700-color);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: fit-content;
}
.banner-btn:hover{
    padding: 0.75rem 1.5rem;
    border: 0.063rem solid var(--neutral-paste-marque-btn-subtxt-700-color);
    background-color: white;
    color: var(--neutral-paste-marque-btn-subtxt-700-color);
}

.banner-under-text{
    color: var(--neutral-700-color-subtext);
    font-size: var(--card-heading-1_5r);
    font-weight: 500;
    text-align: center;
    padding-bottom: 5rem;
}

#why-partner {
  display: flex;
  align-items: center; 
  gap: 2rem;           
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.why-img {
  max-width: 50%;
  border-radius: 0.5rem;
}

.partner-content {
  flex: 1;            
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.partner-h1{
    font-size: 2rem;
    font-family: var(--font-popins);
    font-weight: bold;
    

}
.partner-h1-span{
    color: var(--neutral-paste-marque-btn-subtxt-700-color);
}
.partner-hr{
    max-width: 3.563rem;
    width: 100%;
    height: 2px;
    border: none;
    border-top: 4px solid var(--neutral-paste-marque-btn-subtxt-700-color);
   
}
.part-ul-flex{
    display: flex;
  flex-direction: column;
  gap: 1rem;
}
.part-ul-flex-li{
    display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--neutral-700-color-subtext);
}
.partner-content .sub{
    color:var(--neutral-700-color-subtext);
}

#affiliate{

    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}

.aff-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    margin-top: 2rem;
}
.aff-heading h1{
    font-family: var(--font-popins);
    font-size: 3rem;
    font-weight: bold;
}
.aff-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

#affiliate-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.card{
    /* flex: 1; */
    position: relative;
    border-radius: 12px;
    margin-top: 5rem;
    background-color: var(--card-bg1);
    margin-bottom: 24px;
}
.card_img_div{
    position: absolute;
    left: 50%;
    top: -6rem;
    transform: translateX(-50%);
    max-width: 90%;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.card_img{
    width: 100%;
    height: 253px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 268px;
    margin: 5rem 1.5rem 1.5rem 1.5rem;
}
.card-h1{
    margin-top: 7rem;
    font-size: 1.5rem;
    font-weight: bold;

}
.card-p {
  font-size: 14px;
}

.mobile-next,.mobile-prev {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 20px;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}

.mobile-next {
    right: 10px;
}

.mobile-prev {
    left: 10px;
}

@keyframes marque-translate {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); } 
}
.partner-content{
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.partner-content h2{
    font-weight: 900;
    font-size: var(--heading_style1_4r);
    
    
}
.partering{
    display: flex;
    gap: 48px;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 640px) {
.container{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
  .banner-h1{
   
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  .banner-under-text{
    font-size: 1rem;
    padding-bottom: 3rem;
  }
  .flex-banner{
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
  }
  .grid-banner{
    padding-top: 3rem;

  }
  #why-partner{
    flex-direction: column;
  }
  .why-img {
  max-width: 100%;

}
.mobile-next, .mobile-prev {
    display: block;
}

#affiliate-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
    width: 100%;
}
.card {
    min-width: 100%;
    flex-shrink: 0;
}

}
